*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 64px;
}

#notification{
    position: relative;
}
#bell-icon{
    font-size: 4rem;
}
#count{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(201, 72, 72);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
    border-radius: 50%;
}

#countButton{
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 1rem;
    transition: all 0.2;
}
#countButton:hover{
    background-color: rgb(142, 245, 245);
    cursor: pointer;
    color: black;
}
